@import "./master";


nav {
  align-items: center;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  height: 120px;
  justify-content: space-between;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  
  span {
    font-family: Bungee, sans-serif;
  }

  .compose {
    align-items: center; 
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    p {
      margin-block-end: 0em;
    }

    .fa-angle-double-down {
      color: red;
    }
  }
}

@media (max-width: 1023px) {
  nav {
    background-color: burlywood;
    background-image: url("../images/asfalt-light.png");
  }
}