header {
  background-color: burlywood;
  background-image: url("../images/asfalt-dark.png");
  color: white;
  height: 400px;
  margin-bottom: 20px;
}

header div {
  align-items: center;
  display: flex;
  justify-content: center;
}

