.main-header {
  background-color: burlywood;
  background-image: url("../images/asfalt-light.png");
  color: white;
  height: 400px;
  margin-bottom: 20px;
  margin-top: 120px;
}

.main-header div {
  align-items: center;
  display: flex;
  justify-content: center;
}

