#new-tweet-text {
  background-color: transparent;
  border-style: none;
  border-bottom: solid 3px #545149;
  color: #545149;
  margin-bottom: 10px;
  outline: none;
  resize: none;
  width: 100%;
}

.new-tweet-footer {
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;
}

.new-tweet button {
  background-color: #4056A1;
  border-style: none;
  color: white;
}

.error {
  color: red;
}

.new-tweet {
  margin-bottom: 50px;
}

.error.error-msg {
  background-color: pink;
  border: solid 2px red;
  margin-bottom: 20px;
  padding: 10px;
}