article.tweet {
  border: solid 3px #545149;
}

article.tweet header {
  align-items: center;
  color: #545149;
  display: flex;
  justify-content: space-between;
  margin: 0px 30px;
}

article.tweet header div {
  display: flex;
  align-items: center;
}

.username {
  color: silver;
}

article.tweet footer {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin: 0px 30px;
}

.avatar {
  margin-right: 10px;
  height: 2em;
}

.tweet-text {
    /* background-color: transparent; */
    border-style: none;
    border-bottom: solid 3px #545149;
    color: #545149;
    margin: auto;
    width: 95%;
}

.tweet-text p {
  margin: 10px 7px;
}