.tweet {
  border: solid 3px #545149;
  padding: 0px 30px;
  margin-bottom: 30px;
}

.tweet:hover {
  box-shadow: 5px 5px #4056A1;
}

.tweet footer {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.tweet header {
  align-items: center;
  color: #545149;
  display: flex;
  justify-content: space-between;
}

.tweet header div {
  display: flex;
  align-items: center;
}

.tweet-text {
  border-style: none;
  border-bottom: solid 3px #545149;
  color: #545149;
  width: 100%;
}

.avatar {
  margin-right: 10px;
  height: 2em;
}

.username {
  color: silver;
}

.tweet i:hover {
  color: burlywood;
}